/* Custom styles */
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.border-gray-200 {
    border-color: #edf2f7;
}

.text-gray-500 {
    color: #a0aec0;
}

.text-gray-700 {
    color: #4a5568;
}

.text-gray-900 {
    color: #1a202c;
}

@media (min-width: 640px) {
    .sm\:items-center {
        align-items: center;
    }
    .sm\:pt-0 {
        padding-top: 0;
    }
}
